
@{
    ViewBag.Title = "ShowResult";
}

<h2>Your Result</h2>

<div>



    <h2>  <label>Name : @Session["candidate_name"]</label></h2>

    <h2>  <label>Score : @Session["correctAns"]</label></h2>

    <h2>  <label>Grade : @Session["grade"]</label></h2>

    <h2>  <label>Quality : @Session["quality"]</label></h2>
</div>
